.Home{
    height: 100vh;
    .Hero{
        background: #afafaf;
        width: 1200px;
        height: 680px;
        padding: 1em;
        margin: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        color: #333 ;
        h1{
            color: rgb(225, 103, 59);
        }
    }
}


