.Footer{
    background: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
    .circle{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: whitesmoke;
    }
}


