.Nav{
    //background: coral;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .navLinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 40%;
        .link{
            text-decoration: none;
            color: #333;
        }
    }
}