.Banner{
    color: whitesmoke;
    padding: 5em;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .circle-1{
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-color: rgb(22, 22, 22);
    }
    .circle-2{
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-color: #fff;
    }
    .circle-3{
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-color: coral;
    }
}